body{
	  background: #1B1D35;
}
h1 {
    text-align: center;
    margin-top: 80px;
}
li{
	list-style: none;
}
#cuadrado{
	width: 300px;
    height: 120px;
    background-color: #dd6061;
    margin: 0 auto;
    position: relative;
    top: 60px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.contenedor-global{
	width: 998px;
	margin: 0 auto;
	font-size: 18px;
    font-family: 'Raleway', sans-serif;
	background: white;
    border: 2px dashed gray;
    border-radius: 15px;
    overflow: hidden
}
.contenedor-global p{
	margin-left: 100px;
    margin-right: 50px;
    text-align: justify;
}
.contenedor-global .preguntas{
	margin-left: 100px;
    margin-right: 50px;
}
.enunciado label{
	color: #009999;
	font-weight: bold;
}
.respuesta-tipeada {
    margin: 10px 0px;
}
.pregunta-respuesta-tipeada input{
    margin:10px 40px;
    font-size: 18px;
}
.pregunta-adicional, .pregunta-adicional-alternativa-simple, .pregunta-adicional-alternativa-multiple{
	display: none;
	margin-left: 40px;
}
#boton-guardar-respuestas{
    float: right;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 30px;
    float: right;
    height: 50px;
    width: 200px;
    background-color: green;
    color: white;
    font-size: 18px;
    border: 1px solid green;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
}
.contenedor-global #resultado{
    text-align: center;
    margin-left: 100px;
    color: red;
}

/*CSS para ventana encuestador*/
#listado-alumnos{
	background-color: white;
	margin: 0 auto;
	width: 998px;
    font-size: 18px;
}
#instrucciones{
	padding: 10px;
	width: 90%;
	margin: 0 auto;
}
#boton-listado-alumnos {
    text-align: center;
    padding-bottom: 20px;
}
#contenedor-tabla {
    padding-bottom: 20px;
}
#listado-alumnos #resultado{
	display: none;
	padding-bottom: 20px;
}
#resultado h2{
	text-align: center;
}
#encabezado {
    overflow: hidden;
    font-size: 18px;
    width: 95%;
    margin: 20px auto;
}
#derecha{
    float: right;
    width: 48%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
#izquierda {
    float: left;
    width: 48%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
#derecha label, #izquierda label{
	cursor: pointer;
}
#cuerpo{    
	margin: 0 auto;
    padding: 10px 80px;
}
#preguntas{
	display: none;
}
#botonListar {
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: #dd6061;
    color: white;
    border: 1px solid #dd6061;
    border-radius: 5px;
}

/*css para table*/
table {
    border-collapse: collapse;
    width: 80%;
}

tbody td, thead th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tr:hover{background-color:#f5f5f5}

.boton-ver {
    height: 35px;
    background-color: #dd6061;
    border: 1px solid #dd6061;
    color: white;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
}